# Java / Maven
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# Node / React
node_modules/
dist/
.vite/
npm-debug.log*

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.local
*.local

# Ansible
ansible/inventory/hosts.ini
ansible/files/*.jar
*.retry
